@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.back{
    background-color: #0ED2AE;
    background-size: cover;
    height: 97vh;
       display: flex;  
       justify-content: center;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
}

.appy{
    margin: auto;
    width: 500px;
    max-width: 90%; 
}

.appy form{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.appy form h3{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin-bottom: 24px;
    color: black;
}
.appy form .form-control{
    width: 100%;
    height: 40px;
    background-color: aliceblue;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    background-color: chartreuse;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
