nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.second h3{
    display:inline-block;
    padding-top: 15px;
    cursor: pointer;
    color: black;  
    text-decoration: none;
}
.second h3:link{
    text-decoration: none;
}

@media screen and (max-width:768px) {
.second h3{

    font-size: 10px;
    color: green;
   
    list-style: none;
}

.second h3:link{
     text-decoration: none;
}
}