*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bodys{
    background-color: #0ED2AE;
    background-repeat: none;
    background-size: cover;
    height: 94.2vh;
       display: flex;  
       justify-content: center;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
}

.apps{
    margin: auto;
    width: 500px;
    max-width: 90%; 
}

.apps form{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.apps form h3{
    text-align: center;
    margin-bottom: 24px;
    color: black;
}
.apps form .form-control{
    width: 100%;
    height: 40px;
    background-color: aliceblue;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 108px 0;
    padding: 0 10px;
}

label{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: larger;
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
button{
    background-color:#0ED2AE;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
