*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}



.logo{
    cursor: pointer;
    margin-right:auto;
}

.zinks{
    list-style: none;
    overflow: hidden;
}

.zinks li{
    cursor: pointer;
    display: inline-block;
    padding: 0px 15px ;
    
}

a:link{
    text-decoration: none;
    color: black;
}


.register{
    background-color: #ffa500;
    margin-right: 10px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
}

.login{
    background-color: orange;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
}

.background{
    display: block;
    width: 100%;
    height:70vh;
    position: relative;
    text-align: center;
}

.image{
    width:100%;
    height: 70vh;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  .img_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: solid;
    font-size: 50px;
    color: antiquewhite;
}